.section {
    display: flex; /* 指定元素的布局为 flexible */
    align-items: center;
    flex-direction: column;
    gap: 1rem; /*间距*/
    max-width: 700px;
    margin: 2rem auto;
}

.section > div {
    background-color:aliceblue;
    padding: 1rem;
}

.section_item {
    flex: 1; /* 元素的 flex 值为 1，这表示每个元素占用空间都是相等的，占用的空间是在设置 padding 和 margin 之后剩余的空间 */
}

.section:after {
    content: "";
    border: 0.5px solid #d3d3d3;
    align-self: stretch;
}

.section_item-end {
    order: 1;
}

@media (min-width: 700px) {
    .section {
        align-items: center;
        flex-direction: row;
    }
}
