body {
    font-family: Tahoma , Helvetica, sans-serif;
    font-size: 40px;
    line-height: 1.25;
    height: 100vh;
}

.box {
    font-size: 0;
    white-space: nowrap;
}

.box > div {
    display: inline-block;
    width: 80px;
    height: 130px;
    background-color: #eeeff2;
    padding: 10px;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.box > div:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}

.box > div:last-child {
    position: fixed;
    right: 0;
    bottom: 0;
}