<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>key in vue2</title>
    <style>
        div {
            margin: 2em;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <div id="loginType">
            <input type="radio" id="Admin" value="Admin" v-model="loginType">
            <label for="Admin">Admin</label>
            <br>
            <input type="radio" id="Guest" value="Guest" v-model="loginType">
            <label for="Guest">Guest</label>
            <br>
            <span>loginType: {{ loginType }}</span>
        </div>
        <div>
        <template v-if="loginType === 'Admin'">
            <label>Admin</label>
            <input placeholder="Enter your ID" key="admin-id" v-model="adminId">
          </template>
          <template v-else>
            <label>Guest</label>
            <input placeholder="Enter your name" key="user-name" v-model="userName">
          </template>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                loginType: 'Admin',
                adminId: '',
                userName: ''
            }
        })
    </script>
</body>
</html>